TG_API_ID=30583907
TG_API_HASH=7398eb77425e7f4adab3bbec4e5eafb0
TG_SESSION_NAME=command_center_session
# The ID of your supergroup where topics will be created (must start with -100)
CONTROL_GROUP_ID=-1000000000000
